body
{
  background-color: #B7FFFF;
}

#gnav ul
{
  overflow: hiddden;
}

#gnav li{
  float: left;
  width: 156px;
  border-right: white 1px solid;
  list-style-type: none;
}

#gnav li:first-child{
  border-left: white 1px solid;
}
